<app-nav-admin></app-nav-admin>
<div class="form">
    
        <form [formGroup]="createStateFrom" (ngSubmit)="addPost()">
            <div class="details">
                <div class="title-add">
                    <h1>AÑADIR HOTEL</h1>
                </div>
                <div class="detail-wrapper">
                    <div class="wrapper">
                        NOMBRE
                    </div> 
                    <div class="wrapper">
                        <input formControlName="name" type="text" />
                    </div>
                </div>
                <div class="detail-wrapper">
                    <div class="wrapper">
                        IMAGEN DEL BANNER
                    </div>
                    <div class="wrapper">
                        <input formControlName="bannerImg" type="text"/>
                    </div>
                </div>
                <div class="detail-wrapper">
                    <div class="wrapper">
                        DESCRIPCIÓN
                    </div>
                    <div class="wrapper">
                        <input formControlName="description" type="text" placeholder="Ingrese una breve descripción..."/>
                    </div>
                </div>
                <div class="detail-wrapper">
                    <div class="wrapper">
                        IMAGEN PRINCIPAL
                    </div>
                    <div class="wrapper">
                        <input formControlName="imgPrin" type="text" placeholder="Link de la imagen..."/>
                    </div>
                </div>
                <div class="detail-wrapper">
                    <div class="wrapper">
                        ESTRELLAS
                    </div>
                    <div class="wrapper">
                            <input formControlName="stars" type="number" min="1" max="5"/>
                        <!-- <select formControlName="stars">
                            <option selected value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                        </select> -->
                    </div>
                </div>
                <div class="detail-wrapper">
                    <div class="wrapper">
                        LATITUD
                    </div>
                    <div class="wrapper">
                        <input formControlName="latitude" type="number"/>
                    </div>
                </div>
                <div class="detail-wrapper">
                    <div class="wrapper">
                        LONGITUD
                    </div>
                    <div class="wrapper">
                        <input formControlName="longitude" type="number"/>
                    </div>
                </div>
                <div class="detail-wrapper">
                    <div class="wrapper">
                        DIRECCIÓN
                    </div>
                    <div class="wrapper">
                        <input formControlName="direction" type="text"/>
                    </div>
                </div>
                <div class="detail-wrapper">
                    <div class="wrapper">
                        ESTADO
                    </div>
                    <div class="wrapper">
                        <select formControlName="state">
                            <option selected>Elige uno...</option>
                            <option  *ngFor="let item of states" [value]="item.id">
                                {{item.name | uppercase}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="detail-wrapper">
                    <div class="wrapper">
                        CIUDAD
                    </div>
                    <div class="wrapper">
                        <input formControlName="city" type="text"/>
                    </div>
                </div>
                <div class="array-wrapper" formArrayName="imgs">
                    <div class="detail-wrapper-array" >
                        <div class="wrapper">
                            IMÁGENES
                        </div>
                        <div class="flex-div">
                            <div class="center-content">
                                <div class="array-content-wrapper" *ngFor="let group of imgsArray.controls; let i=index" [formGroupName]="i">
                                    <div>
                                        <input formControlName="imgPath" type="text" 
                                        placeholder="Link de la imagen" class="input-imgs"/>
                                    </div>
                                    <div class="add-icons">
                                        <div class="crud-icon-wrapper">
                                            <img class="crud-icon" src="assets/img/add-icon.png" alt="Agregar" (click)="addImg()">
                                        </div>
                                        <div class="crud-icon-wrapper" *ngIf="i!=0">
                                            <img class="crud-icon" src="assets/img/delete-icon.png" alt="Agregar" (click)="removeImg(i)">
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="detail-wrapper-array">
                    <div class="wrapper">
                        SERVICIOS
                    </div>
                    <div class="checkbox">
                        <div class="cb-item" *ngFor="let control of servicesArray.controls; let i = index">
                            <div class="input-cb">
                                <input (change)="getSelectedHotelFacilities()"
                                type="checkbox" [formControl]="control" id="inlineCheckBox{{i}}">
                            </div>  
                            <label for="inlineCheckBox{{i}}">{{hotelFacilities[i].name}}</label>
                        </div>
                    </div>
                    <small class="errorMessage" *ngIf="hotelFacilitiesError && checkboxServiceTouched()">
                        Por lo menos selecciona uno...
                    </small>
                </div>
                <div class="button" id="fd-wrapper">
                        <!-- [disabled]="!createStateFrom.valid" -->
                    <button *ngIf="!hasFullDay" (click)="getHasFullDay()">FULL DAY</button>
                    <div *ngIf="hasFullDay" class="array-wrapper">
                            <div class="detail-wrapper-array" >
                                <div class="wrapper">
                                    FULL DAY PRECIO
                                </div>
                                <div class="flex-div">
                                    <div class="center-content">
                                        <div class="array-content-wrapper">
                                            <div>
                                                <input formControlName="fullDayPrice" type="number" 
                                                min="0" class="input-imgs"/>
                                            </div>
                                            <div class="add-icons">
                                                <div class="crud-icon-wrapper">
                                                    <img class="crud-icon" src="assets/img/add-icon.png" (click)="addFullDay()">
                                                </div>
                                                <div class="crud-icon-wrapper">
                                                    <img class="crud-icon" src="assets/img/delete-icon.png" (click)="deleteFullDay()">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                </div>
                <div class="room-wrapper-title">
                    HABITACIONES
                </div>
                <!-- HABITACIONES -->

                <div class="rooms-wrapper" formArrayName="rooms">
                        <div class="detail-rooms-wrapper-array" *ngFor="let group of roomsArray.controls; let i=index" [formGroupName]="i">
                            <div class="wrapper">
                                HABITACIÓN #{{i+1}}
                            </div>
                            <div class="detail-wrapper">
                                <div class="wrapper">
                                    NOMBRE
                                </div>
                                <div class="wrapper">
                                    <input formControlName="name" type="text"/>
                                </div>
                            </div>
                            <div class="detail-wrapper">
                                <div class="wrapper">
                                    CAPACIDAD
                                </div>
                                <div class="wrapper">
                                    <input formControlName="capacity" min="0" type="number"/>
                                </div>
                            </div>
                            <div class="detail-wrapper">
                                <div class="wrapper">
                                    VISTAS
                                </div>
                                <div class="wrapper">
                                    <input formControlName="views" type="text" placeholder="Describa las vistas de la habitación..."/>
                                </div>
                            </div>
                            <div class="detail-wrapper">
                                <div class="wrapper">
                                    PRECIO POR NOCHE
                                </div>
                                <div class="wrapper">
                                    <input formControlName="price" type="number" min="0"/>
                                </div>
                            </div>

                            <!-- IMAGENES HABS -->

                            <!-- <div class="array-wrapper" formArrayName="imgsRoom">
                                <div class="detail-wrapper-array" >
                                    <div class="wrapper">
                                        IMÁGENES
                                    </div>
                                    <div class="flex-div">
                                        <div class="center-content">
                                            <div class="array-content-wrapper" *ngFor="let imgRoom of getImgsRoomArray(group); let j=index" [formGroupName]="j">
                                                <div>
                                                    <input formControlName="imgPathR" type="text" 
                                                    placeholder="Link de la imagen" class="input-imgs"/>
                                                </div>
                                                <div class="add-icons">
                                                    <div class="crud-icon-wrapper">
                                                        <img class="crud-icon" src="assets/img/add-icon.png" alt="Agregar" (click)="addImg()">
                                                    </div>
                                                    <div class="crud-icon-wrapper" *ngIf="i!=0">
                                                        <img class="crud-icon" src="assets/img/delete-icon.png" alt="Agregar" (click)="removeImg(j)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                            </div>


                            <div class="add-icons-rooms">
                                <div class="crud-icon-wrapper-rooms">
                                    <img class="crud-icon-rooms" src="assets/img/add-icon.png" alt="Agregar" (click)="addRoom()">
                                </div>
                                <div class="crud-icon-wrapper-rooms" *ngIf="i!=0">
                                    <img class="crud-icon-rooms" src="assets/img/delete-icon.png" alt="Agregar" (click)="removeRoom(i)">
                                </div>
                            </div> -->


                            <!-- <div class="flex-div">
                                <div class="center-content">
                                    <div class="array-content-wrapper" >
                                        <div>
                                            <input formControlName="imgPath" type="text" 
                                            placeholder="Link de la imagen" class="input-imgs"/>
                                        </div>
                                        <div class="add-icons">
                                            <div class="crud-icon-wrapper">
                                                <img class="crud-icon" src="assets/img/add-icon.png" alt="Agregar" (click)="addImg()">
                                            </div>
                                            <div class="crud-icon-wrapper" *ngIf="i!=0">
                                                <img class="crud-icon" src="assets/img/delete-icon.png" alt="Agregar" (click)="removeImg(i)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                            </div> -->
                        </div>
                    </div>
                

                <!-- <div class="detail-wrapper" id="fd-wrapper">
                    <div class="wrapper">
                        FULL DAY
                    </div>
                    <div class="wrapper">
                        <input formControlName="fullDayPrice" type="number" min="0"/>
                    </div>
                    <small>Coloque '0' en caso de no estar disponible</small>
                </div> -->

                
<!-- 

                <div class="array-wrapper" formArrayName="touristDestinations">
                        <div class="detail-wrapper-array" >
                            <div class="wrapper">
                                DESTINOS TURÍSTICOS
                            </div>
                            <div class="flex-div">
                                <div class="center-content">
                                    <div class="array-content-wrapper" *ngFor="let group of touristDestinationsArray.controls; let i=index" [formGroupName]="i">
                                        <div>
                                            <input formControlName="name" type="text" 
                                            placeholder="Nombre destino turístico" class="input-imgs"/>
                                        </div>
                                        <div class="add-icons">
                                            <div class="crud-icon-wrapper">
                                                <img class="crud-icon" src="assets/img/add-icon.png" alt="Agregar" (click)="addTouristDestination()">
                                            </div>
                                            <div class="crud-icon-wrapper" *ngIf="i!=0">
                                                <img class="crud-icon" src="assets/img/delete-icon.png" alt="Agregar" (click)="removeTouristDestination(i)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                <div class="detail-wrapper">
                    <div class="wrapper">
                        DESTINO (CATEGORÍA)
                    </div>
                    <div class="select-wrapper" >
                        <select formControlName="destination">
                            <option selected *ngFor="let item of destinations" [value]="item.name">
                                {{item.name | uppercase}}
                            </option>
                        </select>
                    </div>
                </div> -->


                <div class="button">
                        <!-- [disabled]="!createStateFrom.valid" -->
                    <button  type="submit">CREAR</button>
                </div>
            </div>

        </form>
    </div>
    
    <app-footer></app-footer>
