.forms-wrapper{
    display:grid;
    grid-template-columns: 1fr;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    // padding: 7vh;
}

.title-add{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14vh;
    padding: 4vh;
    h1{
        font-size: 4vw;
        color: white;
        font-family: 'Staatliches', cursive;
        text-align: center;
    }

}
.form{
    background-image: url("../../../../assets/img/add-bckgrnd.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh;
    background-size: cover;
    background-position: center;
}
form{
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    padding: 7vh;
}


.detail-wrapper{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.title-wrapper{
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.details{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
}
.form{
    width: 100%;
    height: 100%;
    padding: 7%;
}

.button{
    min-height: 7vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background:none;
    padding: 5px;
    button{
        width: 30%;
        height: 80%;
        color: white;
        background-color: #1DA9BC;
        font-size:3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border:none;
        font-family: 'Staatliches', cursive;
    }
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    // font-family: 'Staatliches', cursive;
    font-size: 3vh;
}

input{
    text-align: center;
    height: 4vh;
    font-size: 2vh;
    font-family: 'Roboto Condensed', sans-serif;
    width: 30vw;

}
.array-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 3px;                                       
}
.array-content-wrapper{
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    width: 30vw;
    .add-icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    div{
        display: flex;
    align-items: center;
    justify-content:flex-end;
    input{
        font-size: 2vh;
    }
    }
}

.crud-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    .crud-icon{
        max-height: 4vh;
    }
    width: 4.5vw;
}

.input-imgs{
    width:21vw;
}
.center-content{
    display: grid;
    grid-template-columns: 01fr;
    row-gap: 5px;
    align-items: center;
}
.detail-wrapper-array{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    padding: 3px;
}
.flex-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

select{
    width: 30vw;
    option{
        height: 6vh;
        font-size: 10vh;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
    }
}
.select-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    // font-family: 'Staatliches', cursive;
    font-size: 3vh;
    height: 3vh;
}
.checkbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2px;
    color: white;
}
.cb-item{
    width: 7vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    label{
        max-width: 6vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        font-size: 1.5vw;
    }
    .input-cb{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.room-wrapper-title{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4vw;
    padding: 3px;
    font-family: 'Roboto Condensed', sans-serif;
}

.add-icons-rooms{
    height: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.crud-icon-wrapper-rooms{
    display: flex;
    align-items: center;
    justify-content: center;
}

.crud-icon-rooms{
    max-height: 10vh;
}