@import '../../../styles.scss';
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    transition:0.5s;
}
a{
    color:black;
}

.bordersz{

    background-color: blue;

}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40vh;
    width: 100vw;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://www.oas.org/imgs/flags/banner_venezuela.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner h1{
    color:white;
}

.sta{
    height: 45vh;
    max-height: 45vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
 

}
.sta h1{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.container:hover h1{
    color:white;
    background: rgba(7, 7, 7, 0.13);
    padding: 10px;
}

.image{
    width: 60vw;
    height: 45vh;
    opacity: 0;
    transition: opacity 0.5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container:hover .image{
    opacity: 1;
}
.container:hover{
    background:#1DA9BC ;
    height: 55vh;
    transition: 0.5s;
    transition-timing-function: ease-out;
}

.blank{
    display: flex;
    width: 100vw;
    height: 12vh;
    background-color: #ddd4c7;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}


.blank{
    width: 100vw;
    height: 12vh;
    background-color: #ddd4c7;
}


.obj-wrapper{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 30vh;
    a h1{
        text-align: center;
        font-family: var(--main-title-font);
        font-size: 5vw;
        color: white;
    }
    &:hover{
        a h1{
            transition: .4;
            font-size: 7vw;
            cursor: pointer;
        }
        
    }
}

.max-container{
    min-height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd4c7;
    
}

.wrap-mask{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}

.link{
    text-decoration: none;
}