<app-bar></app-bar>
<app-banner-img title="Estados" img="assets/img/states.jpg"></app-banner-img>

<div class="blank">
        <app-search-bar (messageEvent)="receiveMessage($event)"></app-search-bar>
</div>

<div class="max-container">
        <div>
                <div class="obj-wrapper" [ngStyle]="{'background-image': 'url('+o.bannerImg+')'}"
                        *ngFor="let o of statess | filter:search">
                        <div class="wrap-mask">
                                <a class="link" [routerLink]="['/infoestado', o.id]">
                                        <h1>{{o.name}}</h1>
                                </a>
                        </div>
                </div>
        </div>
</div>
<div class="blank">

</div>
<app-footer></app-footer>
<!--<app-dests-and-states [objs]=states></app-dests-and-states>-->

<!-- <div class="banner">
    <h1>Estados</h1>
</div>
<br>
<br>




<div *ngFor="let state of states">           
   <div class="container"  *ngIf="isDestiny(state.destinations) || filtro==null" >
           <div class="sta"  >
                   <div class="image" [ngStyle]="{'background-image': 'url('+state.bannerImg+')'}" >
                   </div>
                   <h1> {{ state.name }} </h1>
           </div>
   </div>
</div>  -->
