<app-bar></app-bar>

<!--<ng-container *ngIf="!loading; then NoLoader; else loader"></ng-container>-->
<!--<ng-template #loader>gfhgfdhgf</ng-template>-->

<!--<ng-template #NoLoader>-->

<app-banner-img title="Estados" img="assets/img/states.jpg"></app-banner-img>
<br>
<div class="blank">
        <div class="bordersz" id="byViews" (click)="showMostViewed()">
                <p id="t">Los más vistos</p>
        </div>

        <app-search-bar (messageEvent)="receiveMessage($event)"></app-search-bar>

        <div class="bordersz" id="bySells" (click)="showMostVisited()">
                <p id="t">Los más visitados</p>
        </div>
</div>

<div class="max-container" *ngIf="isAll; else filteredByDestination">
        <div>
                <div class="obj-wrapper" [ngStyle]="{'background-image': 'url('+o.bannerImg+')'}"
                        *ngFor="let o of (statess | isAvailable | filter:search)">
                        <div class="wrap-mask">
                                <a class="link" (click)="addView(o.id)" [routerLink]="['/infoestado', o.id]">
                                        <h1>{{o.name}}</h1>
                                </a>
                        </div>
                </div>
        </div>
</div>
<ng-template #filteredByDestination>
        <div class="max-container">
                <div>
                        <div class="obj-wrapper" [ngStyle]="{'background-image': 'url('+o.bannerImg+')'}"
                                *ngFor="let o of (statess | filter:search)">
                                <div class="wrap-mask">
                                        <a class="link" (click)="addView(o.id)" [routerLink]="['/infoestado', o.id]">
                                                <h1>{{o.name}}</h1>
                                        </a>
                                </div>
                        </div>
                </div>
        </div>
</ng-template>
<br>

<div [class.notShow]="!showReturn">
        
        <div class="bordersz" id="returnBtn" (click)="getStates()">
                <div><p id="t">Volver</p></div>
        </div>

</div>
<br>

<!--</ng-template>-->
<app-footer></app-footer>
