<app-bar></app-bar>

<!--<ng-container *ngIf="!loading; then NoLoader; else loader"></ng-container>-->
<!--<ng-template #loader>gfhgfdhgf</ng-template>-->

<!--<ng-template #NoLoader>-->

<app-banner-img title="Estados" img="assets/img/states.jpg"></app-banner-img>
<br>
<div class="blank">
        <div class="bordersz" id="byViews" (click)="showMostViewed()"><p id="t">Los más visitados</p></div>

        <app-search-bar (messageEvent)="receiveMessage($event)"></app-search-bar>

        <div class="bordersz" id="byViews"><p id="t">Arreglate mi pana</p></div>
</div>

<div class="max-container" *ngIf="isAll; else filteredByDestination">
        <div>
                <div class="obj-wrapper" [ngStyle]="{'background-image': 'url('+o.bannerImg+')'}"
                        *ngFor="let o of (statess | isAvailable | filter:search)">
                        <div class="wrap-mask">
                                <a class="link" (click)="addView(o.id)" [routerLink]="['/infoestado', o.id]">
                                        <h1>{{o.name}}</h1>
                                </a>
                        </div>
                </div>
        </div>
</div>
<ng-template #filteredByDestination>
        <div class="max-container">
                <div>
                        <div class="obj-wrapper" [ngStyle]="{'background-image': 'url('+o.bannerImg+')'}"
                                *ngFor="let o of (statess | filter:search)">
                                <div class="wrap-mask">
                                        <a class="link" (click)="addView(o.id)" [routerLink]="['/infoestado', o.id]">
                                                <h1>{{o.name}}</h1>
                                        </a>
                                </div>
                        </div>
                </div>
        </div>
</ng-template>
<div class="blank">

</div>

<!--</ng-template>-->
<app-footer></app-footer>







<!--<app-dests-and-states [objs]=states></app-dests-and-states>-->

<!-- <div class="banner">
    <h1>Estados</h1>
</div>
<br>
<br>




<div *ngFor="let state of states">           
   <div class="container"  *ngIf="isDestiny(state.destinations) || filtro==null" >
           <div class="sta"  >
                   <div class="image" [ngStyle]="{'background-image': 'url('+state.bannerImg+')'}" >
                   </div>
                   <h1> {{ state.name }} </h1>
           </div>
   </div>
</div>  -->