.loader-box{
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3ded5;
}
.loading-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/img/loader.gif');
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
}