<app-bar></app-bar>

<div class="container-mv">

    <div class="mv">

            <div class="mision">
                <h1>MISIÓN</h1>
                <div class="textm">

                    <h4>Brindar a las personas información acerca</h4>
                    <h4>de Venezuela y proveer maneras para</h4>
                    <h4>conocer este gran país. </h4>

                </div>
            </div>
            <div class="vision">
                <h1>VISIÓN</h1>

                <div class="textv">

                    <h4>Posicionarse como la empresa N°1</h4>
                    <h4>de turismo en venezuela</h4>

                </div>

            </div>


    </div>

</div>




<app-footer></app-footer>
