<div class="blank">

</div>
<div class="max-container">
    <div>
        <div class="obj-wrapper" [ngStyle]="{'background-image': 'url('+o.bannerImg+')'}" *ngFor="let o of objs">
            <div class="wrap-mask">
                <a [routerLink]="['/estados', o.id]">
                    <h1>{{o.name}}</h1>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="blank">

</div>





<!-- <div class="blank"></div>
<div class="max-wrapper">
    <div class="img-wrap-max">

        <div class="imgs-wrap">
            <div class="positioning-wrap-sup-left">
                <div class="img-bckgd-wrapper">
                    <div class="bckgrd-clr1">
                        
                    </div>
                    <div class="img-box1" [ngStyle]="{'background-image': 'url('+img1+')'}">
                        
                    </div>
                </div>
            </div>
            <div class="positioning-wrap-inf-right">
                <div class="img-bckgd-wrapper">
                    <div class="bckgrd-clr1">
    
                    </div>
                    <div class="img-box1" [ngStyle]="{'background-image': 'url('+img2+')'}">
    
                    </div>
                </div>
            </div>
        </div>

        <div class="sep">

        </div>
        <div class="imgs-wrap">

            <div class="positioning-wrap-inf-left">
                <div class="img-bckgd-wrapper">
                    <div class="bckgrd-clr2">
    
                    </div>
                    <div class="img-box2" [ngStyle]="{'background-image': 'url('+img3+')'}">
    
                    </div>
                </div>
            </div>

            <div class="positioning-wrap-sup-right">
                <div class="img-bckgd-wrapper">
                    <div class="bckgrd-clr2">
                        
                    </div>
                    <div class="img-box2" [ngStyle]="{'background-image': 'url('+img4+')'}">
                        
                    </div>
                </div>
            </div>

        </div>
    </div> -->

<!-- DESTINATIONS LIST -->
<!-- <div class="content-wrap-max">
        <div class="destinationsList-wrap">
            <div class="name-wrapper" *ngFor="let o of obj">
                <a><h1>{{o.name}}</h1></a>
            </div>
        </div>
    </div>

    <div class="img-wrap-max">

        <div class="imgs-wrap">

            <div class="positioning-wrap-inf-left">
                <div class="img-bckgd-wrapper">
                    <div class="bckgrd-clr2">
    
                    </div>
                    <div class="img-box2" [ngStyle]="{'background-image': 'url('+img5+')'}">
    
                    </div>
                </div>
            </div>

            <div class="positioning-wrap-sup-right">
                <div class="img-bckgd-wrapper">
                    <div class="bckgrd-clr2">
                        
                    </div>
                    <div class="img-box2" [ngStyle]="{'background-image': 'url('+img6+')'}">
                        
                    </div>
                </div>
            </div>

        </div>

        <div class="sep">

        </div>

        <div class="imgs-wrap">
            <div class="positioning-wrap-sup-left">
                <div class="img-bckgd-wrapper">
                    <div class="bckgrd-clr1">
                        
                    </div>
                    <div class="img-box1" [ngStyle]="{'background-image': 'url('+img7+')'}">
                        
                    </div>
                </div>
            </div>
            <div class="positioning-wrap-inf-right">
                <div class="img-bckgd-wrapper">
                    <div class="bckgrd-clr1">
    
                    </div>
                    <div class="img-box1" [ngStyle]="{'background-image': 'url('+img8+')'}">
    
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="blank"></div> -->