
<div class="footer">
    <div></div>
    <div class="separator">
        <div></div>
        <div class="icons-wrapper">
            <div class="icon-imgs">
                <a href=""><img src="assets/img/facebook.png"></a>
            </div>
            <div class="icon-imgs">
                <a href=""><img src="assets/img/insta.png"></a>
            </div>
            <div class="icon-imgs">
                <a href=""><img class="twitter" src="assets/img/twitter.png"></a>
            </div>
            <div class="icon-imgs">
                <a href=""><img class="gmail" src="assets/img/gmail.png"></a>
            </div>
        </div>
    </div>
    <div></div>
</div>
