<app-nav-admin></app-nav-admin>
<ng-container *ngIf="!loading; then load; else noLoad"></ng-container>
<ng-template #noLoad>
    <app-loader></app-loader>
</ng-template>

<ng-template #load>
<div class="bck">
    <div class="mask">
        <div class="content-wrapper">
                <div class="welcome">
                    <h1>HABITACIONES</h1>
                </div>
            <div class="title-wrap">
                <div class="tit-cont-wrapper">
                    <h5>HOTEL</h5>
                </div>
                <div  class="tit-cont-wrapper">
                    <h5>NOMBRE</h5>
                </div>
                <div  class="tit-cont-wrapper">
                    <h5>CRUDS</h5>
                </div>
            </div>
            <div class="elementList-wrapper">
                <div class="element-wrapper" *ngFor="let r of rooms; let i=index">
                    <div class="element-cont-wrapper">
                        <h5>{{r.hotel}}</h5>
                    </div>
                    <div class="element-cont-wrapper">
                        <h5>{{r.name}}</h5>
                    </div>
                    <div class="cruds-wrapper">
                        <div class="icon-wrapper">
                            <button>
                                    <!-- [routerLink]="['/hotel', r.hotel, '/rooms']" -->
                                <img src="assets/img/read-icon.png">
                            </button>
                        </div>
                        <div class="icon-wrapper">
                            <button [routerLink]="['/admin/room/modify', r.id]"><img src="assets/img/edit-icon.png"></button>
                        </div>
                        <div class="icon-wrapper">
                            <!-- deleteState(r.id) -->
                            <button (click)="setEnabled(r.id)">
                                <img *ngIf="!r.available" src="assets/img/habilitate.png">
                                <img *ngIf="r.available" src="assets/img/inhabilitate.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add">
                <button routerLink="/admin/room/add">AGREGAR HABITACIÓN</button>
            </div>
            
        </div>
    </div>
</div></ng-template>
<app-footer></app-footer>
