.container{
    width: 100vw;
    height: 45vh;
    display: flex;
    background-color: #E3DED5;
}


.imgs-wrapper{
    height: 45vh;
    width: 50vw;
    background-color: #E3DED5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    
}

#img-main{
    height: 96%;
    width: 80%;
    position: relative;
}

#img1-wrapper{
    position: absolute;
    top: 0px;
    left: 10%;
    height: 40%;
    width: 60%;
}

#img2-wrapper{
    position: absolute;
    top: 36%;
    left: 0px;
    height: 45%;
    width: 40%;
}

#img3-wrapper{
    position: absolute;
    top: 20%;
    right: 0px;
    height: 37%;
    width: 42%;
}

#img4-wrapper{
    position: absolute;
    bottom: 0%;
    left: 35%;
    height: 37%;
    width: 37%;
    
}

.background-clr{
    background-color: #1DA9BC;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 85%;
    width: 85%;
}
.box{
    position: relative;
    width: 100%;
    height: 100%;
}
.imgs{
    position: absolute;
    background-size: cover;
    left: 10%;
    top: 15%;
    height: 85%;
    width: 85%;
}


.text-wrapper{
    height: 45vh;
    width: 50vw;
    background-color: #E3DED5;
    padding: 2%;
}

.what-we-offer-title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 40%;
    width: 100%;
    margin-bottom: 15px solid #1DA9BC;
    color: #1DA9BC;
    font-family: Impact;
    font-size: 30px;
    
}

.what-we-offer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    font-size: 22px;
    font-family: Helvetica;
    color: #1DA9BC;
    div{
        height: 100%;
        width: 85%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}