<div class="container">

    <div class="imgs-wrapper">
        <div id="img-main">

            <div id="img1-wrapper">
                <div class="box">
                    <div class="background-clr"></div>
                    <div class="imgs" id="img1">
                    </div>
                </div>
            </div>
            <div id="img2-wrapper">
                <div class="box">
                    <div class="background-clr"></div>
                    <div class="imgs" id="img2"></div>
                </div>
            </div>
            <div id="img3-wrapper">
                <div class="box">
                    <div class="background-clr"></div>
                    <div class="imgs" id="img3"></div>
                </div>
            </div>
            <div id="img4-wrapper">
                <div class="box">
                    <div class="background-clr"></div>
                    <div class="imgs" id="img4"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="text-wrapper">
        <div class="what-we-offer-title">

        </div>
        <div class="what-we-offer-text">

        </div>
    </div>


</div>
