<app-bar></app-bar>
<ng-container *ngIf="!loadingHotel && !loadingRooms;then noLoad;else load"></ng-container>

<ng-template #load>Algo</ng-template>
<ng-template #noLoad>
<div class="banner-tourist-destination" 
[ngStyle]="{'background-image': 'url('+hotel.bannerImg+')'}">
    <div class="mask-ti">
        <div class="bTitles-wrapper">
            <div class="banner-title">
                <h1>{{hotel.name | uppercase}}</h1>
            </div>
        </div>
        <div class="bTitles-wrapper">
            <div class="title-inf">
                <h2>HABITACIONES</h2>
            </div>
        </div>
    </div>
</div>
<div class="blank">

</div>
<div class="max-container-room" >
    <div class="roomsList-wrapper">
        <div class="nico" *ngFor="let room of rooms; let i=index">
        <div class="room-wrapper" *ngIf="room.hotel===hotel.id">
           
            <div class="slider-room" *ngIf="(i%2==0)">
                <carousel>
                    <slide *ngFor="let i of room.imgs"> 
                        <img [src]="i.imgPath" style="display: block; width: 100%; height: 45vh;">
                    </slide>
                </carousel>
            </div>

            <div class="room-info-wrapper" *ngIf="(i%2==0)">
                <div class="room-info-wrapper-2">
                    <div class="room-description-wrapper">
                        <h1>{{room.name}}</h1>
                    </div>
                    <div class="room-description-wrapper">
                        <h4>{{room.price}} $ por noche</h4>
                    </div>
                    <div class="room-description-wrapper">
                        <h4>Máximo {{room.capacity}} personas por habitación</h4>
                    </div>
                    <div class="room-description-wrapper">
                        <h4>{{room.views}}</h4>
                    </div>
                </div>
                <div class="room-services-wrapper">
                    <div class="div-icon" tooltip="{{icon.name}}" placement="top" show-delay="300" *ngFor="let icon of room.services">
                        <img class="icon" [src]="icon.icon">
                    </div>
                </div>
            </div>

            
            <div class="room-info-wrapper" *ngIf="(i%2!=0)">
                <div class="room-info-wrapper-2">
                    <div class="room-description-wrapper">
                        <h1>{{room.name}}</h1>
                    </div>
                    <div class="room-description-wrapper">
                        <h4>{{room.price}} $ por noche</h4>
                    </div>
                    <div class="room-description-wrapper">
                        <h4>Máximo {{room.capacity}} personas por habitación</h4>
                    </div>
                    <div class="room-description-wrapper">
                        <h4>{{room.views}}</h4>
                    </div>
                </div>
                <div class="room-services-wrapper">
                    <div class="div-icon" tooltip="{{icon.name}}" placement="top" show-delay="300" *ngFor="let icon of room.services">
                        <img class="icon" [src]="icon.icon">
                    </div>
                </div>
            </div>

            <div class="slider-room" *ngIf="(i%2!=0)">
                <carousel>
                    <slide *ngFor="let i of room.imgs"> 
                        <img [src]="i.imgPath" style="display: block; width: 100%; height: 45vh;">
                    </slide>
                </carousel>
            </div>

        </div>
        </div>
    </div>
</div>

<div class="blank">

</div>
<div class="blank">

    </div>
</ng-template>
<app-footer></app-footer>
