<div class="bck-clr">
    <div class="elementList-wrapper">
        <div class="element-wrapper" *ngFor="let state of states">
            <div class="id-wrapper">
                <h5>{{state.id}}</h5>
            </div>
            <div class="elementName-wrapper">
                <h5>{{state.name}}</h5>
            </div>
            <div class="cruds-wrapper">
                <div class="icon-wrapper">
                    <button [routerLink]="['/info', state.id]">
                        <img src="assets/img/read-icon.png">
                    </button>
                </div>
                <div class="icon-wrapper">
                    <img src="assets/img/add-icon.png">
                </div>
                <div class="icon-wrapper">
                    <button (click)="deleteState(state.id)"><img src="assets/img/delete-icon.png"></button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
