<app-nav-admin></app-nav-admin>
<ng-container *ngIf="!loadingRooms && !loadingHotel && !loadingTouristDestinations && !loadingStates; then load; else noLoad"></ng-container>
<ng-template #noLoad>
    <app-loader></app-loader>
</ng-template>

<ng-template #load>
<div class="bck">
        <div class="mask">
            <div class="content-wrapper">
                <div class="welcome">
                    <h1>ESTADOS</h1>
                </div>
                <div class="title-wrap">
                    <div  class="tit-cont-wrapper">
                        <h5>NOMBRE</h5>
                    </div>
                    <div class="tit-cont-wrapper">
                        <h5>ESTADO</h5>
                    </div>
                    <div  class="tit-cont-wrapper">
                        <h5>CRUDS</h5>
                    </div>
                </div>
                <div class="elementList-wrapper">
                    <div class="element-wrapper" *ngFor="let s of states; let i=index">
                        <div class="element-cont-wrapper">
                            <h5>{{s.name | uppercase}}</h5>
                        </div>
                        <div class="element-cont-wrapper">
                            <h5 *ngIf="s.available">HABILITADO</h5>
                            <h5 *ngIf="!s.available">INHABILITADO</h5>
                        </div>
                        <div class="tocentericons">
                            <div class="cruds-wrapper">
                                <div class="icon-wrapper">
                                    <button class="btnright" [routerLink]="['/info', s.id]">
                                        <img src="assets/img/read-icon.png">
                                    </button>
                                </div>
                                <div class="icon-wrapper">
                                    <button class="btncenter" [routerLink]="['/modifyState', s.id]">
                                        <img src="assets/img/edit-icon.png">
                                    </button>
                                </div>
                                <div class="icon-wrapper">
                                    <!-- deleteState(s.id) -->
                                    <button class="btnleft" (click)="setEnabled(s.id)">
                                        <img *ngIf="!s.available" src="assets/img/habilitate.png">
                                        <img *ngIf="s.available" src="assets/img/inhabilitate.png">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add">
                        <button routerLink="/adminEdo">AGREGAR ESTADO</button>
                </div>
                
            </div>
        </div>
    </div>
</ng-template>
<app-footer></app-footer>
