<app-nav-admin></app-nav-admin>
<div class="bck">
        <div class="mask">
            <div class="content-wrapper">
                    <div class="welcome">
                        <h1>DESTINOS TURÍSTICOS</h1>
                    </div>
                <div class="title-wrap">
                    <div class="tit-cont-wrapper">
                        <h5>ID</h5>
                    </div>
                    <div  class="tit-cont-wrapper">
                        <h5>NOMBRE</h5>
                    </div>
                    <div  class="tit-cont-wrapper">
                        <h5>CRUDS</h5>
                    </div>
                </div>
                <div class="elementList-wrapper">
                    <div class="element-wrapper" *ngFor="let d of destinations; let i=index">
                        <div class="element-cont-wrapper">
                            <h5>{{d.id}}</h5>
                        </div>
                        <div class="element-cont-wrapper">
                            <h5>{{d.name}}</h5>
                        </div>
                        <div class="cruds-wrapper">
                            <div class="icon-wrapper">
                                <button [routerLink]="['/destination/info', d.id]">
                                    <img src="assets/img/read-icon.png">
                                </button>
                            </div>
                            <div class="icon-wrapper" [routerLink]="['/adminTD', d.id]">
                                <button><img src="assets/img/edit-icon.png"></button>
                            </div>
                            <div class="icon-wrapper">
                                <!-- deleteState(d.id) -->
                                <button (click)="setEnabled(d.id)">
                                    <img *ngIf="!d.available" src="assets/img/habilitate.png">
                                    <img *ngIf="d.available" src="assets/img/inhabilitate.png">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add">
                    <button routerLink="/adminTD">AGREGAR DESTINO TURÍSTICO</button>
                </div>
                
            </div>
        </div>
    </div>
    <app-footer></app-footer>

