<app-nav-admin></app-nav-admin>
<ng-container *ngIf="loading; then load; else noLoad"></ng-container>

<ng-template #noLoad>
    <app-loader></app-loader>
</ng-template>
<ng-template #load>
<div class="form" *ngIf="!isModify; else Mod">
    <form [formGroup]="createStateFrom" (ngSubmit)="addPost()">
        <div class="details">
            <div class="title-add">
                <h1>AÑADIR DESTINO</h1>
            </div>
            <div class="detail-wrapper">
                <div class="wrapper">
                    NOMBRE
                </div>
                <div class="wrapper">
                    <input formControlName="name" type="text" />
                </div>
            </div>
            <div class="detail-wrapper">
                <div class="wrapper">
                    IMAGEN DEL BANNER
                </div>
                <div class="wrapper">
                    <input formControlName="bannerImg" type="text" />
                </div>
            </div>
            <div class="button">
                <button [disabled]="!createStateFrom.valid" type="submit">CREAR</button>
            </div>
        </div>
    </form>
</div>

<ng-template #Mod>

    <ng-container *ngIf="!loading; then NoLoader; else loader"></ng-container>

    <ng-template #loader>gfhgfdhgf</ng-template>

    <ng-template #NoLoader>
        <div class="form">
            <form [formGroup]="createStateFrom" (ngSubmit)="updateD()">
                <div class="details">
                    <div class="title-add">
                        <h1>MODIFICAR DESTINO</h1>
                    </div>
                    <div class="detail-wrapper">
                        <div class="wrapper">
                            NOMBRE
                        </div>
                        <div class="wrapper">
                            <input formControlName="name" type="text" />
                        </div>
                    </div>
                    <div class="detail-wrapper">
                        <div class="wrapper">
                            IMAGEN DEL BANNER
                        </div>
                        <div class="wrapper">
                            <input formControlName="bannerImg" type="text" />
                        </div>
                    </div>
                    <div class="button">
                        <button [disabled]="!createStateFrom.valid" type="submit">ACEPTAR</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
</ng-template>
</ng-template>
<app-footer></app-footer>