<div class="cont">

    <div class="input">

        <input type="search" [(ngModel)]="search" autocomplete="off" class="inp" placeholder="Escribe el nombre...">

    </div>

    <button class="btn" (click)="sendMessage()">Buscar</button>

    <!--<div [class.input]="Input" class="off">

        <input type="search" [(ngModel)]="search">
        <button (click)="sendMessage()">Dale</button>

    </div>

    <img class="icon" (click)="showInput()" src="assets/icons/iconoLupa.png" alt="">-->

</div>