.off.input{
    display: block;
    //background-color: #fff;
}

.off{
    display: none;
}

.icon{
    height: 35px;
}

.icon:hover{
    cursor: pointer;
}

.input{
    display: block;
    background-color: #ddd4c7;
}

.cont{
    background-color: #ddd4c7;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
}

.btn{
    background-color: #1DA9BC;
    border: none;
    margin-left: 2px;
    height: 35px;
}

.btn:hover{
    color: white;
}

.inp{
    border: none;
    border-bottom: 2px solid #1DA9BC;
    background-color: #ddd4c7;
}


//Responsive



@media (max-width: 880px){
    .inp{
        height: 25px;
    }

    .btn{
        height: 30px;
    }
}

@media (max-width: 750px){

    .inp{
        height: 25px;
    }

    .btn{
        height: 25px;
    }

    p{
        font-size: 15px;
    }

}

@media (max-width: 430px){
    .inp{
        height: 20px;
    }

    .btn{
        height: 20px;
    }

    p{
        font-size: 10px;
    }

}