<div class="bck">
    <div class="mask">
        <div class="content-wrapper">
            <div class="welcome">
                <h1>Bienvenido</h1>
            </div>
            <div class="buttons-wrap">
                <div class="button">
                    <button>ESTADÍSTICAS</button>
                </div>
                <div class="button">
                    <button routerLink="/admin/destinations">DESTINOS</button>
                </div>
                <div class="button">
                    <button routerLink="/stateList">ESTADOS</button>
                </div>
                <div class="button">
                    <button routerLink="/TDList">DESTINOS TURÍSTICOS</button>
                </div>
                <div class="button">
                    <button>HOTELES</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
