<app-bar></app-bar>
<div class="container-romel">

    <div class="titulo">
        <h1>Empieza tu selección por...</h1>
    </div>


    <div class="grid-r">
        
            <div class="destino" (click)="goDestination()">
                
            <h2>Destinos</h2>
                <div class="desc" >

               
                 <h5>Los destinos</h5>
                  <h5>mas caracteristicos</h5>
                 <h5>de Venezuela</h5>

                </div>
          
                 
            </div>
         

        <div class="hotel" (click)="goHotel()">
            <h2>Holetes</h2>

            <div class="desc">

                    
                    <h5>Los mejores hoteles</h5>
                    <h5>de Venezuela</h5>
            </div>
        </div>
    </div>
</div>
