#banner-tourist-info{
    height: 40vh;
    width: 100vw;
    background-color: #ddd4c7;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#banner-title{
    height: 20vh;
    width: 50vw;
    background-color: black;
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 8vh;
    
}


.wrapper{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd4c7;
}

.imgs-wrapper{
    position: relative;
    background-color: #ddd4c7;
    height: 60vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

// .img-wrapper{
//     height: 70vh;
//     width: 50vw;
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: white;
//     font-family: 'Staatliches', cursive;
// }

// .right-wrapper{
//     height: 50vh;
//     width: 30vw;
    
// }
// .left-wrapper{
//     height: 50vh;
//     width: 30vw;
// }

.info-wrapper{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    background-size: cover;
    font-family: 'Staatliches', cursive;
    color: white;
        .text-wrapper{
        display: none;
        // width: 30vw;
        
    }
    .title-wrapper{
        // width: 30vw;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 3vh;
    }
}

.info-wrapper:hover{
    .title-wrapper{
        // width: 30vw;
        height: 20vh;
    }
    .text-wrapper{
        padding: 5%;
        // width: 30vw;
        height: 40vh;
        // display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Liu Jian Mao Cao', cursive;
    }
}

#recreative-acts{
    background-image: url(../../../../assets/img/acts.png);
}
#gastronomy{
    background-image:url(../../../../assets/img/gastronomy.png);
}
#culture{
    background-image: url(../../../../assets/img/cultura.png);
}
#hotels-inf-estate{
    background-image: url(../../../../assets/img/hotel.png);

}

