<app-bar></app-bar>

<ng-container *ngIf="!loadingState && !loadingTouristDestiniations; then load; else noLoad"></ng-container>

<ng-template #noLoad>
    <app-loader></app-loader>
</ng-template>

<ng-template #load>

<div id="banner-tourist-info" 
[ngStyle]="{'background-image': 'url('+state.bannerImg+')'}">
    <div class="mask" id="banner-mask">
        <div id="banner-title">  
            <h1>{{state.name | uppercase}}</h1>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="imgs-wrapper">

        <div class="info-wrapper" id="gastronomy">
            <div class="mask-img">
                <div class="title-wrapper"> 
                    <h2>Gastronomía</h2> 
                </div>
                <div class="text-wrapper">
                <p>{{state.gastronomy}} 
                </p>
                </div>
            </div>
        </div>

        <div class="info-wrapper" id="recreative-acts">
            <div class="mask-img">
                <div class="title-wrapper"> 
                    <h2>Actividades<br>recreativas</h2> 
                </div>
                <div class="text-wrapper">
                    <p>{{state.recreativeActs}}
                    </p>
                </div>
            </div>
        </div>

        <div class="info-wrapper" id="hotels-inf-estate">
            <div class="mask-img">
                <div class="title-wrapper"> 
                        <h2>Hoteles</h2> 
                    </div>
                    <div class="text-wrapper" id="mainHotelsInfo">
                        <p>{{state.mainHotels}}
                        </p>
                    </div>
                    <div class="goToHotels">
                        <button [routerLink]="['hotels', state.id]">Ver hoteles</button>
                    </div>
            </div>
        </div>    

        <div class="info-wrapper" id="culture">
            <div class="mask-img">
                <div class="title-wrapper"> 
                    <h2>Cultura</h2> 
                </div>
                <div class="text-wrapper">
                    <p>{{state.culture}}
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
<div>
    <div class="title-imgs">
        <h2>Galería de fotos</h2>
    </div>
    <div class="slider-wrapper">
        <div class="slider">
                <carousel>
                    <slide *ngFor="let i of state.imgs"> 
                        <img [src]="i.imgPath" style="display: block; width: 80vw; height: 60vh;">
                    </slide>
                </carousel>
        </div>
    </div>
</div>

<div>
    <div class="title-imgs">
        <h2>Destinos turísticos</h2>
    </div>
    <div class="slider-wrapper" id="destination-wrap">
        <div class="destination-options">
            <div class="mask-img" id="destinations-wrapper">
                <div class="destinations"> 
                    <div class="destination-link" *ngFor="let d of touristDestinations">
                        <a *ngIf="d.state==state.id" [routerLink]="['/destination/info', d.id]">{{d.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
</ng-template>