<div id="banner-tourist-info" 
    [ngStyle]="{'background-image': 'url('+ imgbanner +')'}">
    <div class="mask" id="banner-mask">
        <div id="banner-title">  
            <h1>{{titlebanner}}</h1>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="imgs-wrapper">

        <div class="info-wrapper" id="gastronomy">
            <div class="mask-img">
                <div class="title-wrapper"> 
                    <h2>Gastronomía</h2> 
                </div>
                <div class="text-wrapper">
                <p>En la gastronomía del estado Bolívar, destaca la Sapoara, que es un pescado de río que abunda en el Orinoco
                     y el Caroní, puede prepararse tanto relleno, asado, frito o en sancocho. El pastel de Morrocoy es otro plato típico
                      que consiste en la desmenuzación de la carne del morrocoy combinándolo con aliños. 
                </p>
                </div>
            </div>
        </div>

        <div class="info-wrapper" id="recreative-acts">
            <div class="mask-img">
                <div class="title-wrapper"> 
                    <h2>Actividades<br>recreativas</h2> 
                </div>
                <div class="text-wrapper">
                    <p>Bolívar se destaca por sus hermosos paisajes naturales que te quitarán el aliento. Entre ellos se pueden
                         destacar el Parque La Llovizna, el Salto Ángel, el Tepuy Roraima y el Parque Nacional Canaima. Cabe destacar que el
                          Salto Ángel es una belleza natural tan increíble que fue candidata como una de las siete maravillas modernas.
                    </p>
                </div>
            </div>
        </div>

        <div class="info-wrapper" id="hotels-inf-estate">
            <div class="mask-img">
                <div class="title-wrapper"> 
                        <h2>Hoteles</h2> 
                    </div>
                    <div class="text-wrapper">
                        <p>Entre los hoteles más destacados de esta zona, se encuentran "Hostería Waipá", "Waku Lodge", 
                            "Hotel Laja Real", "AraMerú" y "Tapuy Lodge".
                        </p>
                    </div>
            </div>
        </div>    

        <div class="info-wrapper" id="culture">
            <div class="mask-img">
                <div class="title-wrapper"> 
                    <h2>Cultura</h2> 
                </div>
                <div class="text-wrapper">
                    <p>La cultura del estado Bolívar se caracteriza por la presencia de los carnavales de El Callao,
                        que es un pueblo minero donde las culturas venezolana, francesa, inglesa, brasileña, española y antillana 
                        se unieron. El carnaval comienza entre febrero y marzo y los pobladores salen a la calle danzando al ritmo del calipso.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
<div>
    <div class="title-imgs">
        <h2>Galería de fotos</h2>
    </div>
    <div class="slider-wrapper">
        <div class="slider">
                <carousel>
                    <slide>
                        <img src="http://elestimulo.com/wp-content/uploads/2014/10/salto-angel-1100x618.jpg" 
                        style="display: block; width: 80vw; height: 60vh;">
                    </slide>
                    <slide>
                        <img src="http://www.panorama.com.ve/__export/1495456921565/sites/panorama/img/pitoquito/2017/05/22/dsc04979.jpg" 
                        style="display: block; width: 80vw; height: 60vh;">
                    </slide>
                    <slide>
                        <img src="https://tvenlacalle.com/wp-content/uploads/2018/06/parque-nacional-canaima-1.jpg" 
                        style="display: block; width: 80vw; height: 60vh;">
                    </slide>
                    <slide>
                        <img src="https://viajespereira.com/wp-content/uploads/2016/01/04.jpg" 
                        style="display: block; width: 80vw; height: 60vh;">
                    </slide>
                    <slide>
                        <img src="http://elestimulo.com/wp-content/uploads/2016/01/kukenan-1-2.jpg" 
                        style="display: block; width: 80vw; height: 60vh;">
                    </slide>
                </carousel>
        </div>
    </div>
</div>
