

.imagenes{
    height: 100%;
    width: 100%;
}

.img-cont{
    width: 22vw;
    height: 30vh;
    border-color: #1DA9BC ;
    border-width: 4px;
    border-style: solid;   
}

.btn{
    width: 100px;
    height: 50px;
}

.icons{
    height: 20px;
    widows: 20px;
    border-color: #2f3131 ;
    border-width: 2px;
    border-style: solid;
    border-radius: 30%;  
}

.iconOrder{   
    display: grid;
    position: relative;
    grid-template-columns: 12% 12% 12% 12%;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
    justify-items: center;
 
}

.wrapperH{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4em;
    row-gap: 5em;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Roboto Condensed', cursive;
}

.block{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    justify-items: center;
    align-items: center;
}

.text {
    text-align: justify;
}

.title {
    text-align: center;
    font-size: 20px;
}

.seeMore{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 30px;
    width: 100px;
    border: none;
    text-decoration: none; 
    
}

.seeMore:hover{
    transition: 0.4s;
    cursor: pointer;
    background-color:#1DA9BC; 
}

.miniWrapper{
    display: grid;
    grid-template-columns: 1fr 0.7fr;

}

.btnReturn{

    cursor: pointer;
    background-color:#1DA9BC; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 30px;
    width: 100px;
    border: none;
    text-decoration: none; 

}

.btnReturn:hover{
    transition: 0.5s;
    height: 40px;
    width: 110px;
}

.btnOff{
    display: none;
}

.space{
    font-family: 'Roboto Condensed', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

#borderz{   
    border-color: blue ;
    border-width: 2px;
    border-style: solid;  

}

.lupa{
    cursor:pointer;
    padding: 2%;
}

.off{
    display: none;
}

.on{
    display: block;
}

.icons2{
    height: 35px;
}

.end{
    width: 97vw;
    display: flex;
    justify-content: flex-end;
    
}

.off.input{
    display: block;
    background-color: #ddd4c7;
}



.icon{
    height: 35px;
}

.icon:hover{
    cursor: pointer;
}

.blank{
    display: flex;
    width: 100vw;
    background-color: #ddd4c7;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
}


  
//Responsive

@media (max-width: 1200px){
    .wrapperH{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;
        row-gap: 5em;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Roboto Condensed', cursive;
        font-size: smaller;
    }

    .img-cont{
        width: 20vw;
        height: 15vw;
        border-color: #1DA9BC ;
        border-width: 4px;
        border-style: solid;   
    }

}

@media (max-width: 880px){
    .wrapperH{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 4em;
        row-gap: 5em;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Roboto Condensed', cursive;
        font-size: larger;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .img-cont{
        width: 90%;
        height: 90%;
        border-color: #1DA9BC ;
        border-width: 4px;
        border-style: solid;   
    }

    .icons2{
        height: 30px;
    }
}

/*@media (max-width: 680px){
    .wrapperH{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 4em;
        row-gap: 6em;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Roboto Condensed', cursive;
        font-size: smaller;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .img-cont{
        width: 90%;
        height: 90%;
        border-color: #1DA9BC ;
        border-width: 4px;
        border-style: solid;   
    }

    .icons2{
        height: 25px;
    }

}*/

@media (max-width: 750px){
    
    .block{
        display:grid;
        grid-template-columns: 1fr;
        column-gap: 1em;
        justify-items: center;
        align-items: center;
    }

    .img-cont{
        width: 40vw;
        height: 30vw;
        border-color: #1DA9BC ;
        border-width: 4px;
        border-style: solid;   
    }

    .miniWrapper{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    
    }

    .iconOrder{   
        display: grid;
        position: relative;
        grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
        column-gap: 10px;
        justify-items: center;
     
    }

}

