<app-bar></app-bar>

<app-banner-img title="Hoteles" img="assets/imageHotels/banner.jpg"></app-banner-img>

<div class="end">
    <div (click)="showF()" class="lupa"><img class="icons2" src="assets/icons/iconoLupa.png" alt=""></div>

    <div [class.on]="showFilter" class="off">
        <app-filtro></app-filtro>
    </div>
</div>



 <!--   <div [class.input]="Input" class="off">

        <input type="search" [(ngModel)]="search">

    </div>

    <img class="icon" (click)="showInput()" src="assets/icons/iconoLupa.png" alt="">

</div>-->
<div class="blank">
    <app-search-bar (messageEvent)="receiveMessage($event)"></app-search-bar>
</div>
<div class="wrapperH" *ngIf="isAll; else filteredByState">

    <div class="block" *ngFor="let hotel of (hotels | isAvailable | filter:search)">
        <div class="img-cont">
            <img class="imagenes" src="{{hotel.bannerImg}}" alt="">
        </div>
        <div class="center">
            <p class="title"><strong>{{hotel.name}}</strong></p>
            <p class="text">{{hotel.description | slice: 0:150}}...</p>
            <div class="miniWrapper">
                <div class="iconOrder">
                    <div tooltip="{{icono.name}}" placement="top" show-delay="500" *ngFor="let icono of hotel.services">
                        <img class="icons" src="{{icono.icon}}" alt="gnfn">
                    </div>
                    <!-- <div tooltip="{{icono.msg}}" placement="top" show-delay="500" *ngFor="let icono of hotel.amenitiesImg">
                        <img class="icons" src="{{icono.icon}}" alt="gnfn">
                    </div> -->
                </div>
                <br>
                <div class="seeMore"> <a class="link" [routerLink]="['/hotel', hotel.id]">Ver más...</a> </div> 
            </div>                    
        </div>
    </div>
</div>

<ng-template #filteredByState>
    <div class="wrapperH">

        <div class="block" *ngFor="let hotel of hotels | filter:search">
            <div class="img-cont">
                <img class="imagenes" src="{{hotel.bannerImg}}" alt="">
            </div>
            <div class="center">
                <p class="title"><strong>{{hotel.name}}</strong></p>
                <p class="text">{{hotel.description | slice: 0:150}}...</p>
                <div class="miniWrapper">
                    <div class="iconOrder">
                        <div tooltip="{{icono.name}}" placement="top" show-delay="500" *ngFor="let icono of hotel.services">
                            <img class="icons" src="{{icono.icon}}" alt="gnfn">
                        </div>
                        <!-- <div tooltip="{{icono.msg}}" placement="top" show-delay="500" *ngFor="let icono of hotel.amenitiesImg">
                            <img class="icons" src="{{icono.icon}}" alt="gnfn">
                        </div> -->
                    </div>
                    <br>
                    <div class="seeMore"> <a class="link" [routerLink]="['/hotel', hotel.id]">Ver más...</a> </div> 
                </div>                    
            </div>
        </div>
    </div>
</ng-template>
   
<br>
<br>
<div class="space">
    <div [class.btnOff]="!message2">
        <div class="btnReturn" (click)="vuelve()">Regresar</div>
    </div>
</div>
<app-footer></app-footer>

