<app-bar></app-bar>

<ng-container  *ngIf="!loadingHotels && !loadingRooms  &&  !loadingDestinations && !loadingStates; then noload; else load "  ></ng-container>

<ng-template #load >Loading...</ng-template>

<ng-template #noload >


<div class="container-r">

    <div class="data">

         <!-- PASO 1----------------------------------------------------------------------------------------- -->  

        <div class="paso1" *ngIf="pasos.paso_1" > 
            <div class="start">
            <div class="titulo">
                <h1>Empieza tu selección por...</h1>
            </div>
        
        
            <div class="grid-r">
                
                    <div class="destino" (click)="passToStep2()" >
                        
                    <h2>Destinos</h2>
                        <div class="desc" >
        
                       
                         <h5>Los destinos</h5>
                          <h5>mas caracteristicos</h5>
                         <h5>de Venezuela</h5>
        
                        </div>
                  
                         
                    </div>
                 
        
                <div class="hotel" (click)="irHoteles()" >
                    <h2>Hoteles</h2>
        
                    <div class="desc">
        
                            
                            <h5>Los mejores hoteles</h5>
                            <h5>de Venezuela</h5>
                            
                    </div>
                </div>
            </div>
        </div>








        </div>


          <!-- PASO 2----------------------------------------------------------------------------------------- -->  

        <!-- Dentro de el va el if de paso2 -->
        <div class="paso2" *ngIf="pasos.paso_2" >
            <h1>Paso 2: Selecciona un Destino</h1>

            

             <!-- Div del if -->
                
                <div class="for" *ngFor="let obj of destinations">
                   <div *ngIf="obj.available">  <!-- nf if esta disponible -->
                        <div class="destin" [ngStyle]="{'background-image': 'url('+obj.bannerImg+')'}" (click)="selectDest(obj)" >
                            <h2>{{obj.name}}</h2>
                        </div>
                   
                    </div>
                </div>
               

            <div class="info-btn">

                <h4>Destino seleccionado</h4>


                <h5> {{ destinationFilter }} </h5>

                

                <button  (click)="passToStep3()" >Siguiente Paso</button>
                

            </div>
        </div>


      <!-- PASO 3----------------------------------------------------------------------------------------- -->
      <!--  -->    
       

        <!-- Dentro de el va el if de paso2 -->
        <div class="paso3" *ngIf="pasos.paso_3" >
            <h1>Paso 3: Selecciona un Estado</h1>

            

            <div class="for" *ngFor="let ob of states">
                     
                 <div class="if" *ngIf="filterOnDestination(ob)">  <!-- tambien evalue si esta disponible -->
                        
                        <div class="destin" [ngStyle]="{'background-image': 'url('+ob.bannerImg+')'}"  (click)="selectState(ob)">
                            <h2>{{ob.name}}</h2>
                        </div>

                      </div>

                </div>


                <div class="info-btn">

                    <h4>Estado seleccionado</h4>
                    
                    <h5> {{ stateFilter }} </h5> 
                    <button (click)="passToStep4()" >Siguiente Paso</button>
                    

            </div>
        </div>

    <!-- PASO 4----------------------------------------------------------------------------------------- --> 

        <div class="paso4" *ngIf="pasos.paso_4" >
            <h1>Paso 4: Selecciona un Hotel</h1>

            



            <div >
                

                <div class="hotelesPrueba">

                    <div class="for2" *ngFor="let h of hotels; let i=index" >

                  
                         
                        <div class="if2"  *ngIf="filterOnState(h) "><!-- evalua si esta disponible -->
                                
                            <div class="hotelInd" (click)="selectHotel(h)" >
                            
                                <div class="dataHot" >

                                    <div class="imagenHot" [ngStyle]="{'background-image': 'url('+h.imgPrin+')'}"></div>

                                    <div class="infoHot">
                                        <h2>{{ h.name }}</h2>
                                        <div class="stars">
                                            <div *ngFor="let s of stars[i] " class="starsFino">
                                                <img src="assets/img/star.png" alt="">
                                            </div>
                                            
                                        </div>

                                        <div class="hservices">
                                            <div class="hotelfino" *ngFor="let i of h.services"  tooltip="{{i.name}}" placement="top" show-delay="300">
                                                <img [src]="i.icon" alt="">
                                            </div>

                                        </div>

                                    </div>


                                </div>

                            </div>
                           
                      
                        </div>
                    </div>


                </div> 


            </div>

            




            <div class="info-btn">

                    <h4>Haz seleccionado</h4>
                   
                     <h5> {{ hotelForShow }} </h5> 

                   <button  (click)="passToStep5()">Siguiente Paso</button>
                    
    
                </div>


        </div>

 <!-- PASO 5----------------------------------------------------------------------------------------- --> 
        <div class="paso5"  *ngIf="pasos.paso_5">

            <h1>Paso 5: Ingrese su información y Escoja sus habitaciones</h1>

            <form action=""  [formGroup]="reactiveForm" >

                <div class="formData">
                    <div class="formInput" 
                    [ngClass]=" { 'hasError':reactiveForm.get('nameReserve').errors &&
                    (reactiveForm.get('nameReserve').dirty ||
                    reactiveForm.get('nameReserve').touched )} " 
                    *ngIf="firstReserve"
                    >
                    

                        <label for="">Nombre y Apellido</label>
                        <br>
                        <input type="text" id="completeName"

                            formControlName="nameReserve"
                            
                        >
                        <br>
                        <span *ngIf="reactiveForm.get('nameReserve').errors &&
                        (reactiveForm.get('nameReserve').dirty ||
                        reactiveForm.get('nameReserve').touched )">
                            <label for="" *ngIf="reactiveForm.get('nameReserve').errors.required">
                                Debe de ingresar el nombre 
                            </label>
                         </span>
                    </div>

                    <div class="formInput"
                    [ngClass]=" { 'hasError':reactiveForm.get('email').errors &&
                    (reactiveForm.get('email').dirty ||
                    reactiveForm.get('email').touched )} " 
                    *ngIf="firstReserve"
                    >

                        <label for="">Direccion de correo electronico</label>
                        <br>
                        <input type="email" id="emailAddres"
                            formControlName="email"
                            
                        >
                        <br>
                        <span *ngIf="reactiveForm.get('email').errors &&
                        (reactiveForm.get('email').dirty ||
                        reactiveForm.get('email').touched )">
                            <label for="" *ngIf="reactiveForm.get('email').errors.required">
                                Debe ingresar su dirección de correo electronico
                            </label>
                        </span>
                        
                        <span *ngIf="reactiveForm.get('email').errors &&
                        (reactiveForm.get('email').dirty ||
                        reactiveForm.get('email').touched )">
                            <label for="" *ngIf="reactiveForm.get('email').errors.email && !reactiveForm.get('email').errors.required">
                                Su dirección de correo electronico debe ser valida
                            </label>
                        </span>
                    </div>




                    <div class="formInput"
                    [ngClass]=" { 'hasError':reactiveForm.get('numReserves').errors &&
                    (reactiveForm.get('numReserves').dirty ||
                    reactiveForm.get('numReserves').touched )} " >
                        <label for="">Cantidad de personas</label>
                        <br>
                        <input type="number" id="numPeople"
                            formControlName="numReserves"
                            id="fecha-cant"  
                            max="30"
                            min="1"
                           
                        >
                        <br>
                        <span *ngIf="reactiveForm.get('numReserves').errors &&
                        (reactiveForm.get('numReserves').dirty ||
                        reactiveForm.get('numReserves').touched )">
                            <label for="" *ngIf="reactiveForm.get('numReserves').errors.required">
                                Debe de ingresar el numero de personas 
                            </label>
                         </span>
                        




                    </div>
                        <!-- CALENDARIOS -->
                    <div class="formInput"
                    [ngClass]=" { 'hasError':reactiveForm.get('arriveDate').errors &&
                    (reactiveForm.get('arriveDate').dirty ||
                    reactiveForm.get('arriveDate').touched )} ">

                        <label for="">Fecha de llegada</label>
                        <br>
                        <input [matDatepicker]="fechaLlegada" 
                            formControlName="arriveDate"
                            id="fecha-cant"
                            [min]="minDateArrive"
                            
                        >
                        <mat-datepicker-toggle [for]="fechaLlegada"  ></mat-datepicker-toggle>
                        <mat-datepicker #fechaLlegada ></mat-datepicker>
                        <br>

                        <span *ngIf="reactiveForm.get('arriveDate').errors &&
                        (reactiveForm.get('arriveDate').dirty ||
                        reactiveForm.get('arriveDate').touched )">
                            <label for="" *ngIf="reactiveForm.get('arriveDate').errors.required">
                                    Debe ingresar la fecha de llegada 
                            </label>
                         </span>

                    </div>


                    <div class="formInput"
                    [ngClass]=" { 'hasError':reactiveForm.get('leaveDate').errors &&
                    (reactiveForm.get('leaveDate').dirty ||
                    reactiveForm.get('leaveDate').touched )} ">
                        <label for="">Fecha de salida</label>
                        <br>
                        <input [matDatepicker]="fechaSalida" 
                            formControlName="leaveDate"
                            id="fecha-cant"
                            [min]="reactiveForm.value.arriveDate"
                            
                        >
                        <mat-datepicker-toggle [for]="fechaSalida"></mat-datepicker-toggle>
                        <mat-datepicker #fechaSalida></mat-datepicker>
                        <br>
                        <span *ngIf="reactiveForm.get('leaveDate').errors &&
                        (reactiveForm.get('leaveDate').dirty ||
                        reactiveForm.get('leaveDate').touched )">
                            <label for="" *ngIf="reactiveForm.get('leaveDate').errors.required">
                                Debe ingresar la fecha de salida
                            </label>
                         </span>

                         <br>
                         <br>
                         <div *ngIf="!reactiveForm.controls.numReserves.pristine"
                                formArrayName="rooms"
                         >
                            <h5>Selecciona tus cuartos</h5> 

                            <div *ngFor="let group of roomArray.controls; let i =index;" [formGroupName] ="i">

                           <h5>Cuarto {{i+1}} </h5> 
                                <div class="cuartos">
                                    <div>
                                    <label for="">Nombre del cuarto</label>
                                    <br>


                                         <!-- <div *ngIf="isInHotel(r)" > <input type="text" formControlName="roomName" id="nCuarto"> -->
                                    

                                    <select name="" id="" formControlName="roomName" id="nCuarto" >
                                        <option value="" selected>Elige uno..</option>
                                        
                                        <option value="" selected  *ngFor="let r of hotelRooms  "  [value]="r.name" >
                                            
                                            {{r.name}}
                                            
                                        </option>
                                       
                                    </select>



                                    </div>
                                    <div>
                                    <label for="">Cantidad de cuartos</label>
                                    <br>
                                    <input type="number" formControlName="roomCant" id="cantCuarto"  min=1 max=30 >
                                    </div>
                                    <div class="p5btns">
                                    <div>
                                    <button class="btnRoom" (click)="addRoom()"><img src="https://secure.webtoolhub.com/static/resources/icons/set114/28bdd2bd.png" alt=""></button>
                                    </div>
                                    <div>
                                    <button class="btnRoom" (click)="removeRoom(i)"> <img src="https://image.flaticon.com/icons/png/512/458/458594.png" alt=""></button>
                                    </div>
                                    </div>
                                    
                                </div>
                            
                        </div>
                     
                        </div>



                    </div>

                    <br>
                    <br>
                    <br>
                    <div class="info-btn"    >
                            <button  (click)="submitHandler()"   >Siguiente Paso</button>
                    </div>          <!-- [disabled]="!reactiveForm.valid" se lo estoy quitando para que no tenga que poner el nimbre siemre -->

                  


                    
            </div>

            </form>



        </div>

 
        <div class="paso6"  *ngIf="pasos.paso_6">
            
            <h1>Paso 6: Seguir Reservando o Pagar</h1>

            <div class="reservaReady">
                   
                    <br>
                <h2>Se ha completado la Reserva</h2>
                
                <br>
                <h3>¿Que desea hacer?</h3>
            </div>
           
            <div class="btn-p7">

                <button id="reservarx" (click)="reserveAgain()" >Seguir Reservando</button>
                <button  id="pagar" (click)="calcularMonto()" >Pagar</button>

                
            </div>

          
            <br>


            

        </div>

        <div class="paso7" *ngIf="pasos.paso_7">

                <h1>Paso 7: Realice su Pago</h1>

                <div class="contain-pago">
                    <ngx-paypal [config]="payPalConfig" *ngIf="!modalShow" ></ngx-paypal>
                </div>

                

        </div>

        





        <!-- FIN DE DATA -->
</div>
</div>

<div class="bg-modal" *ngIf="modalShow">
        <div class="modal-content">
            <div class="modal-text">
                <h3>¡Gracias por reservar con nosotros!</h3>
                <h4>Su codigo de itinerario de le</h4>
                <h4>sera enviado a su e-mail.</h4>
            </div>

            <button routerLink="/">Continuar</button><!-- Te envia al home de una -->

        </div>
    </div>
<!-- ROMEL -->

</ng-template>