<div class="wrapper2">
        <div class="wrapper">
    
            <div class="element">
    
                <div class="individual" id="one">
                    <a class="links" href=""><h2>Home</h2></a>
                </div>
                <div class="individual" id="two">
                    <a class="links" href=""><h2>Destino</h2></a>
                </div>
                <div class="individual" id="three">
                    <a class="links" href=""><h2>Hoteles</h2></a>
                </div>
                <div class="individual" id="four">
                    <a class="links" href=""><h2>Planifica tu viaje</h2></a>
                </div>
                <div class="individual" id="five">
                    <a class="links" href=""><h2>Acerca de nosotros</h2></a>
                </div>
                <div class="individual" id="six">
                    <a class="links" href=""><h2>Revisar Itinerario</h2></a>
                </div>
    
            </div>
    
        </div>
    
        <div class="bg"></div>
    </div>
