.banner-tourist-destination{
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.bTitles-wrapper{
    position: relative;

}
.title-inf{
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    width: 100%;
    h4{
        font-family: 'Staatliches', cursive;
        color: white;
    }
}
.mask-ti{
    background-color: rgba(0, 0, 0, 0.3);
    height: 40vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 0.75fr 0.25fr;
}
.banner-title{
    // height: 20vh;
    // width: 50vw;
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Staatliches', cursive;
    position: absolute;
    bottom: 0%;
    h1{
        font-size: 10vw;
        text-align: center;
       
    }
}

.description-wrapper{
    height: 30vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-image: url("../../../assets/img/quote.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-text{
    height: 20vh;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h3{
        text-align: center;
        color: black;
        font-family: 'Roboto Condensed', sans-serif;
    }
}

.wrapper{
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd4c7;
}

.imgs-wrap{
    position: relative;
    background-color: #ddd4c7;
    height: 50vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.info-wrap{
    background-size: cover;
    background-position: center;
}
#services-wrap{
    background-image: url("../../../assets/img/servicesTouristDestination.jpg");
}
#acts-wrap{
    background-image: url("../../../assets/img/actTouristDestination.jpg");
}
.mask-wrap{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.3fr 0.7fr;
    padding: 10%;
}
.tit-wrap{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Staatliches', cursive;
    h3{
        font-size: 7vh;
    }
}

.text-wrap{
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
agm-map {
    height: 40vh;
  }

.location-wrap{
    height: 50vh;
    background-color:  #ddd4c7;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.to-center{
    height: 40vh;
}
#to-center-grid{
    display: grid;
    grid-template-rows: 0.3fr 0.2fr 0.2fr 0.3fr;
}
.loc-info-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: black;
}
#direction-info{
    padding: 5%;
}
a{
    text-decoration: none;
    color: black;
    :hover{
        color:white;
        font-size:40px;
        text-decoration: none;
    }
}