<div class="container" >
    
    <div class="text-wrapper">
        <div class="what-we-offer-title">
            <h1>
                {{title}}
            </h1>
        </div>
        <div class="what-we-offer-text">
            <div>
                <h4>
                    {{text}}
                </h4>
            </div>
        </div>
    </div>

    <div class="imgs-wrapper">
        <div id="img-main">

            <div id="img1-wrapper">
                <div class="box">
                    <div class="background-clr"></div>
                    <div class="imgs" id="img1" [ngStyle]="{'background-image': 'url('+ img1+')'}">
                    </div>
                </div>
            </div>
            <div id="img2-wrapper">
                <div class="box">
                    <div class="background-clr"></div>
                    <div class="imgs" id="img2" [ngStyle]="{'background-image': 'url('+ img2+')'}"></div>
                </div>
            </div>
            <div id="img3-wrapper">
                <div class="box">
                    <div class="background-clr"></div>
                    <div class="imgs" id="img3" [ngStyle]="{'background-image': 'url('+ img3+')'}"></div>
                </div>
            </div>
            <div id="img4-wrapper">
                <div class="box">
                    <div class="background-clr"></div>
                    <div class="imgs" id="img4" [ngStyle]="{'background-image': 'url('+ img4+')'}"></div>
                </div>
            </div>
        </div>

    </div>

</div>

