.container-ri{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#e3ded5 ;
    height: 75vh;
    width: 100vw;
    color: #1da9bc;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn.blueswandaily.com//2018/11/Travel000-2000x1200.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.codigoItine{

    margin-top: 35px;
    background: #e3ded5;
    height: 300px;
    width: 300px;
    
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1); 

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 9vh;

}
.codigoItine h1{
    margin-top: 10px;
    padding-bottom:2px;
    font-size: 25px;
   
    
}
input[type=text]:focus{
    background: #1da9bc;
    transition:0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); 
}
input[type=password]:focus{
    background: #1da9bc;
    transition:0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); 
}
input{
    border: none;
    background: rgb(189, 186, 186);
    outline: none;
    color:white;
    height: 25px;
    border-radius:5px;
    padding-left: 10px;
    width:170px;
}

button{

    background: #1da9bc;
    border-radius: 5px;
    border:none;
    padding:5px;
    color:white;
    transition:0.5s;

}

button:hover{

    background: #106570;
    transition:0.5s;

}