/*body{
    width: 100%;
    overflow-x: hidden;
    background-color: #E3DED5;
}*/

.wrapper{

    background-color: #E3DED5;
    display: grid;
    width: 100vw;
    height: 10vh;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    justify-items: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    
}

.noDecor{
    text-decoration: none;
    color: black;
}
img{
    height: 7vh;
    &:hover{
        height: 8vh;
    }
}
// p{
//     text-decoration: none;
//     color: black;
//     font-family: 'Roboto Condensed', cursive;
// }

// p:hover{
//     text-decoration: none;
//     font-size: larger;
// }

.wrapperMenu{

    background-color: #1DA9BC;
    display: grid;
    width: 100vw;
    height: 10vh;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    justify-items: center;
    align-items: center;
    position: fixed;
    z-index: 5;
}

.icons1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.icons2{
    height: 30px;

}


.off{
    display: none;
}

.on{
    display: block;
}

.menu{
    cursor:pointer;
}

.space{
    height: 10vh;
}

//Responsive

@media (max-width: 880px){
    .wrapper{
        background-color: #E3DED5;
        display: grid;
        width: 98.2vw;
        height: 8vh;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        justify-items: center;
        align-items: center;
        position: fixed;
        z-index: 5;
    }

    .wrapperMenu{

        background-color: #1DA9BC;
        display: grid;
        width: 98.2vw;
        height: 8vh;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        justify-items: center;
        align-items: center;
        position: fixed;
        z-index: 5;
    }

    img{
        height: 6vh;
        &:hover{
            height: 7vh;
        }
    }

    .icons1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
    }
    
    .icons2{
        height: 30px;
    }

    .space{
        height: 8vh;
    }
}

@media (max-width: 680px){
    

}

@media (max-width: 400px){
    

}