@import '../../../../styles.scss';
.wrapper{

    background-color: #E3DED5;
    display: grid;
    width: 100vw;
    height: 10vh;
    grid-template-columns: 0.1fr 1fr 0.2fr;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.noDecor{
    text-decoration: none;
    color: black;
}
img{
    height: 7vh;
    &:hover{
        height: 8vh;
    }
}
p{
    text-decoration: none;
    color: black;
    font-family: var(--secondary-font-family);
}

p:hover{
    text-decoration: none;
    font-size: larger;
}

.wrapperMenu{

    background-color: #1DA9BC;
    display: grid;
    width: 100vw;
    height: 10vh;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.icons1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.icons2{
    height: 30px;

}


.off{
    display: none;
}

.on{
    display: block;
}

.menu{
    cursor:pointer;
}