<app-bar></app-bar>

<app-banner-img title="Destinos" img="assets/img/plane.jpg"></app-banner-img>

<div class="blank">

</div>
<div class="max-container">
    <div>
        <div class="obj-wrapper" [ngStyle]="{'background-image': 'url('+o.bannerImg+')'}" *ngFor="let o of destinations | isAvailable">
            <div class="wrap-mask">
                <a class="link" [routerLink]="['/estados', o.id]">
                    <h1>{{o.name}}</h1>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="blank">

</div>

<app-footer></app-footer>

<!--<app-dests-and-states [objs]=destinations></app-dests-and-states>-->


<!-- VICS 1 -->
<!-- 

<app-dests-and-states img1="assets/img/img1-dest.jpg"
                      img2="assets/img/img2-dest.jpg"
                      img3="assets/img/img6-dest.jpg"
                      img4="assets/img/img4-dest.jpg"
                      img5="assets/img/img5-dest.jpg"
                      img6="assets/img/img3-dest.jpg"
                      img7="assets/img/img7-dest.jpg"
                      img8="assets/img/img8-dest.jpg"
                      [obj]=destinations></app-dests-and-states> -->

<!-- ROMEL -->

<!-- <div class="banner">
    <h1>Destinos</h1>
</div>
<br>
<br>


<div class="container" *ngFor="let destination of destinations"  >
    <div class="dest" (click)="onSelect(destination.name)">
      
        <div class="image" [ngStyle]="{'background-image': 'url('+destination.bannerImg+')'}"  >
        
        </div>
        <h1> {{ destination.name }} </h1>
    
    </div>
</div> -->

