<app-nav-admin></app-nav-admin>
<ng-container *ngIf="!loadingReserve; then load; else noLoad"></ng-container>

<ng-template #noLoad>
    <app-loader></app-loader>
</ng-template>

<ng-template #load>
        <div class="form">
                <form [formGroup]="createStateFrom" (ngSubmit)="updatePost()">
                    <div class="details">
                        <div class="title-add">
                            <h1>MODIFICAR RESERVA</h1>
                        </div>
                        <div class="detail-wrapper">
                            <div class="wrapper">
                                NÚMERO DE PERSONAS
                            </div> 
                            <div class="wrapper">
                                <input formControlName="numberOfPeople" type="number" min="1" max="30"/>
                            </div>
                        </div>
                        <div class="detail-wrapper">
                            <div class="wrapper">
                                COSTO
                            </div>
                            <div class="wrapper">
                                <input formControlName="cost" type="number" min="0"/>
                            </div>
                        </div>
                        <div class="button">
                            <button [disabled]="!createStateFrom.valid" type="submit">ACEPTAR</button>
                        </div>
                    </div>
                </form>
            </div>
</ng-template>
<app-footer></app-footer>
