/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Neucha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

body{
    margin: 0;
    padding: 0;
    // font-family: 'Fascinate Inline', cursive;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


