<div class="wrapper2">
        <div class="wrapper">
    
            <div class="element">
    
                <div class="individual" id="one">
                    <a class="links" routerLink="/" ><p>Home</p></a>
                </div>
                <div class="individual" id="two">
                    <a class="links" routerLink="/destinos" ><p>Destinos</p></a>
                </div>
                <div class="individual" id="three">
                    <a class="links" routerLink="/estados" ><p>Estados</p></a>
                </div>
                <div class="individual" id="four">
                    <a class="links" routerLink="/planViaje"><p>Planifica tu viaje</p></a>
                </div>
                <div class="individual" id="five">
                    <a class="links" href=""><p>Planifica tu viaje</p></a>
                </div>
                <div class="individual" id="six">
                    <a class="links" routerLink="/revisarItinerario"><p>Revisar Itinerario</p></a>
                </div>
    
            </div>
    
        </div>
    
    <div class="bg"></div>
</div>
