
.banner{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#banner-img{
    background-size: cover;
}

.title-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 45vw;
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

#banner-background{
    background-color: black;
    opacity: 0.3;
}


