<app-bar></app-bar>
<div class="overflow">
<div id="main-banner"
    style="background-image: url('assets/img/Home.png')">
    <div id="header-wrapper">
        <div class="title-wrapper">
            <div id="ven-title">VENEZUELA</div>
        </div>
        <div id="gif-wrapper" style="background-image: url('assets/img/VT-2.gif')">
            
        </div>
        <div class="title-wrapper">
            <div id="travel-title">TRAVEL</div>
        </div>
    </div>
    <a href="#top-what-we-offer" class="a"><button id="btn-scrolldown"><i class="fas fa-angle-down fa-4x" style="height: 30vh;"></i></button></a>
</div>

<div class="what-we-offer" id="top-what-we-offer">
<div class="blue-div">
    <app-what-we-offer-second img1="assets/img/img1-1-hp.jpg" 
    img2="assets/img/img2-1-hp.jpg" 
    img3="assets/img/img3-1-hp.jpg" 
    img4="assets/img/img4-1-hp.jpg" 
    title="¡Conoce la magia de Venezuela!"
    text="Descubre todo lo que ofrecen más de cuatro destinos diferentes en un mismo 
    territorio"
    ></app-what-we-offer-second>
</div>
<div class="cream-div">
    <app-what-we-offer img1="assets/img/img1-2-hp.jpg" 
    img2="assets/img/img2-2-hp.jpg" 
    img3="assets/img/img3-2-hp.jpg" 
    img4="assets/img/img4-2-hp.jpg"
    title="¡Descubre los mejores hoteles!"
    text="Más de veinte hoteles asociados que podrás conocer" 
    ></app-what-we-offer>
</div>
<div class="blue-div">
    <app-what-we-offer-second img1="assets/img/img1-3-hp.jpg" 
    img2="assets/img/img2-3-hp.jpg" 
    img3="assets/img/img3-3-hp.jpg" 
    img4="assets/img/img4-3-hp.jpg" 
    title="¡Reserva y paga desdes la comodidad de tu hogar!"
    text="Una vez que te hayas decidido por uno de los maravillosos
     lugares que ofrece Venezuela, podrás reservar en el hotel de tu preferencia
      y pagarlo. ¡Todo está listo para viajar!"
    ></app-what-we-offer-second>
</div>
<div class="cream-div">
    <app-what-we-offer img1="assets/img/img1-4-hp.jpg" 
    img2="assets/img/img2-4-hp.jpg" 
    img3="assets/img/img3-4-hp.jpg" 
    img4="assets/img/img4-4-hp.jpg" 
    title="¡Revisa tu itinerario!"
    text="Podrás checkear todo lo que planeaste con un código 
    que será enviado a tu correo electrónico"
    ></app-what-we-offer>
</div>
</div>
</div>
<app-footer></app-footer>

