#banner{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner-gif{
    height:30vh;
    width: 45vw;
    background-size: cover;
}
#gif-wrapper{
    height:50vh;
    width: 45vw; 
      
}

#img-gif:hover{
    opacity: 0;
}
#img-gif{
    width: 45vw;
    height: 30vh;
    background-size: cover;
}

.separador{
    height: 5vh;
    width: 100vw;
    background-color: #E3DED5;
}

.img-title{
    width: 45vw;
    height: 10vh;

}
.title-wrapper{
    width: 45vw;
    height: 10vh;
}



