<div id="banner" [ngStyle]="{'background-image': 'url('+ gif +')'}"> 
    <div class="title-wrapper">
            <h1 id="title">
                VENEZUELA TRAVEL
            </h1>
    </div>
</div>

<div class="separador">
    
</div>

<div>
    <app-what-we-offer-second img1="assets/img/img1-1-hp.jpg" 
    img2="assets/img/img2-1-hp.jpg" 
    img3="assets/img/img3-1-hp.jpg" 
    img4="assets/img/img4-1-hp.jpg" 
    title="¡Conoce la magia de Venezuela!"
    text="Descubre todo lo que ofrecen más de cuatro destinos diferentes en un mismo 
    territorio"
    ></app-what-we-offer-second>
</div>
<div>
    <app-what-we-offer img1="assets/img/img1-2-hp.jpg" 
    img2="assets/img/img2-2-hp.jpg" 
    img3="assets/img/img3-2-hp.jpg" 
    img4="assets/img/img4-2-hp.jpg"
    title="¡Descubre los mejores hoteles!"
    text="Más de veinte hoteles asociados que podrás conocer" 
    ></app-what-we-offer>
</div>
<div>
    <app-what-we-offer-second img1="assets/img/img1-3-hp.jpg" 
    img2="assets/img/img2-3-hp.jpg" 
    img3="assets/img/img3-3-hp.jpg" 
    img4="assets/img/img4-3-hp.jpg" 
    title="¡Reserva y paga desdes la comodidad de tu hogar!"
    text="Una vez que te hayas decidido por uno de los maravillosos
     lugares que ofrece Venezuela, podrás reservar en el hotel de tu preferencia
      y pagarlo. ¡Todo está listo para viajar!"
    ></app-what-we-offer-second>
</div>
<div>
    <app-what-we-offer img1="assets/img/img1-4-hp.jpg" 
    img2="assets/img/img2-4-hp.jpg" 
    img3="assets/img/img3-4-hp.jpg" 
    img4="assets/img/img4-4-hp.jpg" 
    title="¡Revisa tu itinerario!"
    text="Podrás checkear todo lo que planeaste con un código 
    que será enviado a tu correo electrónico"
    ></app-what-we-offer>
</div>



