#main-banner{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
#header-wrapper{
    width: 45vw;
    height: 50vh;
}

.title-wrapper{
    width: 45vw;
    height: 10vh;
    font-family: 'Staatliches', cursive;
    color: white;
    font-size: 5vh;
    
}

#gif-wrapper{
    width: 45vw;
    height: 30vh;
}
#ven-title{
    text-align: left;
}
#travel-title{
    text-align: right;
}


// .separador{
//     height: 5vh;
//     width: 100vw;
//     background-color: #E3DED5;
// }





